<a class="linkItens" href="#">
    <div class="item">
        <p class="nomeItem">item.nome</p>
        <div class="date">
            <p>Comprado em:</p>
            <p class="dia">22</p>
            <p>10/21</p>
        </div>
        <div class="valor">
            <p>item.valor</p>
        </div>
    </div>
</a>