<nav class="navbar navbar-inverse navbar-fixed-top ">
    <div class="container well-sm">

            <div class="navbar-header">
                <a class="navbar-brand" href={{ path('homepage') }}>CRUD</a>
            </div>


            <p class="navbar-text navbar-right h4">
                v2.0.53
            </p>
    </div>
</nav>