<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}C R U D{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="/assets/css/bootstrap.css" rel="stylesheet" />
        <link href="/css/base.css" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/bootstrap.js"></script>
    </body>
</html>
