@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.marginTopNavBar{
    margin-top: 90px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.floatingAdd{
    position: fixed;
    z-index: 2;
    right: 30px;
    margin-top: 60vh;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d5a6b;
    width: 79px;
    height: 79px;
    text-decoration: none;
    box-shadow: 0 0 18px 2px #1e2e3b;
}

.floatingAdd span{
    font-size: 60px;
    color: white;
}

.floatingAdd:hover{
    text-decoration: none !important;
    box-shadow: #0fafaf 1px 1px 16px 0;
    transition: all 300ms;
}

.floatingAdd span:hover{
    font-size: 90px;
    transition: all 200ms;
}