.conteudo{
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    margin-top: 85px;
    width: 70vw;
    min-height: 75vh;
    background-color: #F3F3F3;
    box-shadow: 0px 0px 15px 1px #00000026;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #F08522;
}

.title h2{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.5em;
    color: white;
    text-shadow: -1px 3px 5px #000000bd;
}

form{
    margin-top: 50px;
}

input[type='text'], select{
    height: 45px !important;
    font-size: 1.5em !important;
}

select{
    cursor: pointer;
}

.buttonControls{
    margin-top: 100px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.btns div{
    display: flex;
    justify-content: center;
}

.buttonControls button, .buttonControls input{
    min-width: 135px;
}

input[value='Início']{
    color: #ffff;
    background-color: #545454;
}

input[value='Início']:hover{
    color: #d9d9d9;
}

.remove{
    display: none;
}