.navigation{
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFA756;
    height: 80px;
    font-size: 2em;
    color: #222222;
}

.navigation div{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    font-weight: 700;
    cursor: pointer;
}

.navigation div a{
    text-decoration: none;
    color: #222222;
}

.navigation div:last-child{
    background-color: #E2832B;
    color: white;
    font-weight: normal;
}
