.navbar{
    background-color: #FFA756;
    height: 80px;
    font-size: 2em;
}

.navbar div{
    height: 100%;
    padding: 0 20px;
    font-weight: 700;
}

.navbar-header{
    align-items: center;
    display: flex;
}

.navbar div .navbar-brand{
    cursor: pointer;
    font-size: 1.5em;
    text-decoration: none;
    color: #541a04;
}

.navbar .navbar-right{
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
    color: #fff1ee !important;
    font-weight: normal;
}